/* --------------------- Open Props --------------------------- */

/* the props */
// @import "https://unpkg.com/open-props";

/* optional imports that use the props */
// @import "https://unpkg.com/open-props/normalize.min.css";
// @import "https://unpkg.com/open-props/buttons.min.css";

/* ------------------------------------------------------------ */

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');

:root {
    --color-background: #200462;
    // --color-primary: #f71b9c;
    --color-primary: #EC098D;
    --color-secondary: #d80afc;
    --color-tertiary: #42b7ed;
    --color-accent: #f0e84d;
    --color-text: #fffff6;
    --color-text-dark: #010101;
}

html {
    background-color: var(--color-background);
    margin: 0;
}

h1 {
    font-size: 4.5rem;
    font-family: 'IBM Plex Mono';
}

.root {
    // position: absolute;
    color: var(--color-text);
    font-family: 'Iosevka Aile';
}

.hidden {
    display: none,
}

.typewriter {
    border-right: .15em solid var(--color-accent); /* The typewriter cursor */
    white-space: nowrap;
    animation: blink-caret .75s step-end infinite;
    flex-wrap: wrap;
}

.scaffold {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items:baseline;
    padding: 60px 80px;
}

.desc {
    font-size: 1.25em;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.content {
    transition: all;
    transition-duration: 750ms;
    opacity: 100%;
}

.content-hidden {
    transform: translate(-40px, 0px);
    opacity: 0%;
}

.body {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.delay {
    transition-delay: 250ms;
}

.child {
    padding: 10px 0px;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
}

.profile {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    border: 5px solid var(--color-accent);
    border-style: double;
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: var(--color-accent); }
}

.proj-container {
    border: 4px;
    border-style: groove;
    border-radius: 10px;
    border-color: var(--color-accent);
    background-color: var(--color-primary);
    min-height: 100px;
    max-height: 100px;
    width: 65%;
    padding: 20px 15px;

    overflow: hidden;

    transition: all 750ms ease-out;

    display: flex;
    flex-direction: column;
}

.proj-container:hover {
    max-height: 1000px;
    // width: 100%;
    background-color: var(--color-tertiary);
    border-color: var(--color-secondary);
    transition: all 750ms ease-in;

    color: var(--color-text-dark);
}

.spaced-title-row {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.spaced-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4px;
}

.title {
    // flex: 1;
    // font-family: 'IBM Plex Mono';
    font-family: 'Iosevka';
    font-size: 2em;
    font-weight: bold;
    color: var(--color-text);
    width: fit-content;
}

.element {
    size: 0.75em;
    color: var(--color-text);
}

.element-link {
    text-decoration-line: underline;
}

.element-link:hover {
    color: var(--color-tertiary);
    transition: all 300ms ease;
}

.proj-title {
    transition: all 750ms ease;
    text-decoration-line: none;
    text-decoration-color: var(--color-primary);
}

.proj-container:hover .proj-title {
    color: var(--color-text-dark);
    text-decoration-line: underline;
    text-decoration-style: wavy;
    transition: all 750ms ease;
}

.proj-container:hover .title:hover {
    text-decoration-color: var(--color-accent);
    transition: all 300ms ease;
}

.proj-container-stack {
    // flex: 2;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    // margin-bottom: 10px;
    // flex:content;
}

.proj-container-hidden {
    // flex: 0;
    // scale: 0%;
    margin-top: 10px;
    opacity: 0%;
    // max-height: 0px;
    overflow: hidden;
    transition: all 750ms ease;
    // color: var(--color-tertiary);
}

.proj-container:hover .proj-container-hidden {
    // flex: 1;
    // scale: 100%;
    opacity: 100%;
    // max-height: fit-content;
    transition: all 750ms ease;
    // color: var(--color-text-dark);
}

.row {
    display: flex;
    flex-direction: row;
}

.svg {
    height: 20px
}

// .flutter {
//     color: #01A8FF;
// }

.breakline {
    border-top: 2px solid var(--color-primary);
    width: 100%;
}

.boxed {
    padding: 2px 5px;
    transition: all 750ms ease;
    border: 2px solid var(--color-accent);
}

.proj-container:hover .boxed {
    transition: all 750ms ease;
    border: 2px solid var(--color-primary);
}

.heading-2 {
    color: var(--color-text);
    transition: all 300ms ease;
}

.project-link {
    text-decoration-line: underline;
    text-decoration-style: double;
    text-decoration-color: var(--color-primary);
}

.heading-2:hover {
    text-decoration-color: var(--color-accent);
    transition: all 300ms ease;
}