.typewriter {
    border-right: .15em solid var(--color-accent);
    white-space: nowrap;
    animation: blink-caret .75s step-end infinite;
    flex-wrap: wrap;
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: var(--color-accent); }
}