.typewriter-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
}

.typewriter-text {
    font-size: 4.5rem;
    font-weight: bold;
    font-family: 'IBM Plex Mono';
}

// .typewriter-container {
//     outline: 1px dashed red;
// }

// .typewriter-cursor {
//     outline: 1px solid blue;
// }

.typewriter-cursor {
    animation: blink-caret .75s step-end infinite;
    font-weight: bold;
    background-color: var(--color-accent);
    width: 0.5em;
    align-self: stretch;
    margin-left: 0.15em;
}

@keyframes blink-caret {
    from, to { opacity: 0; }
    50% { opacity: 1; }
}